body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.rectangle {
  height: 200px;
  width: 200px;
  background-color: blue;
  margin-top: 50px;
  transition: ease-in-out 1s transform;
}

.rectangle:hover {
  transform: rotate(180deg);
}