#form {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
}

.form_cell_upper {
    display: flex;
    width: 100%;
}

.form_cell_lower {
    display: flex;
    flex-direction: column;
    /* align-items: center;     */
    width: 100%;
}

.form_cell_lower_input {
    width: 75%;
}

.form_cell_textArea{
    display: flex;
    justify-content: center;
    align-items: center ; 
    width: 100%;
    flex-direction: column;
    margin-top: 12px;
}

#description {
    width: 95%;
    height: 100px;
}

.form_cell_variable_key {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.button {
    margin-top: 12px;
}